.container {
    display: flex;
}

.column {
    padding: 20px;
    margin: 100px;
    background-color: lightblue;
}

.col-1 {
    /* flex: 1 1 0%;  flex-grow, flex-shrink, flex-basis */ 
    flex: 1; /* 1/6 */
}

.col-2 {
    flex: 2; /* Es igual a flex: 2 1 0%; => 2/6 = 1/3 de total */ 
}

.col-3 {
    flex: 3; /* Es igual a flex: 3 1 0%; 3/6 = 1/2 del total */ 
}

/*
Para formatear el código
Alt + Shift + F  
*/
