body{

    text-align: center;
}


.primer-span{
    background-color: #20b1a9;
    text-align: left;
    color: white;
    padding: 10px;
}

.segundo-span{
    background-color: fuchsia;
    text-align: center;
    color: white;
    padding: 10px;
}

.tercer-span{
    background-color: darkblue;
    text-align: right;
    color: white;
    padding: 10px;
}


span {
    background-color: rgb(179, 179, 61);
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 100px;
}